
<div class="row justify-content-md-center inicio">
	<div class="cards-index ml-5 mt-5">
		<a href="/ciudades" onclick="shoWLoading()">
			<div class="card bg-hotel">
				<div class="card-header text-center">Ciudades</div>
		    	<div class="card-body text-center">
		    		<span class="fa fa-subway" style="font-size:80px"></span>
		    	</div>
		  	</div>
		  </a>
	</div>
	<div class="cards-index ml-5 mt-5">
		<a href="/hoteles" onclick="shoWLoading()">
			<div class="card bg-hotel">
				<div class="card-header text-center">Hoteles</div>
		    	<div class="card-body text-center">
		    		<span class="fas fa-hotel" style="font-size:80px"></span>
		    	</div>
		  	</div>
		  </a>
	</div>
</div>
<div class="row justify-content-md-center inicio">
	<div class="cards-index ml-5 mt-5">
		<a href="/reservas/1" onclick="shoWLoading()">
			<div class="card bg-hotel">
				<div class="card-header text-center">Reservas</div>
		    	<div class="card-body text-center">
		    		<span class="fas fa-calendar-alt" style="font-size:80px"></span>
		    	</div>
		  	</div>
		  </a>
	</div>
</div>
