
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-dark-h">
				<h5 class="modal-title" id="modalLabel">Nueva Ciudad</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_modal">
				<span aria-hidden="true" class="bg-dark-h">&times;</span>
				</button>
			</div>
			<div class="row justify-content-center align-items-center">
				<div class="col-9">
					{{> form_ciudad}}
				</div>
			</div>
		</div>
	</div>
</div>