<nav>
	<div id="accordion">
	  	<div class="card menu-h">
	    	<div class="card-header header-menu" id="headingOne">
	        	<a href="#" class="btn btn-link link-menu" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Ciudades<span class="fas fa-angle-right icono-menu"></span></a>
	    	</div>
	    	<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
		      	<div class="card-body body-menu">
		        	<a href="/ciudades" onclick="shoWLoading()" class="opcion-menu"><span class="fas fa-city"></span>  Gestionar  Ciudades</a>
		      	</div>
	    	</div>
	  	</div>
	  	<div class="card menu-h">
	    	<div class="card-header header-menu" id="headingTwo">
	        	<a href="#" class="btn btn-link link-menu" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Hoteles<span class="fas fa-angle-right icono-menu"></span></a>
	    	</div>
	    	<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
		      	<div class="card-body body-menu">
		        	<a href="/hoteles" onclick="shoWLoading()" class="opcion-menu"><span class="fas fa-hotel"></span>  Gestionar  Hoteles</a>
		      	</div>
	    	</div>
	  	</div>
	  	<div class="card menu-h">
	    	<div class="card-header header-menu" id="headingThree">
	        	<a href="#" class="btn btn-link link-menu" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Reservas<span class="fas fa-angle-right icono-menu"></span></a>
	    	</div>
	    	<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
		      	<div class="card-body body-menu">
		        	<a href="/reservas/1" onclick="shoWLoading()" class="opcion-menu"><span class="fas fa-calendar-alt"></span>  Gestionar  Reservas</a>
		      	</div>
	    	</div>
	  	</div>
	</div>
</nav>